p {
  margin: 0;
}

.Card {
  background: var(--main-dark);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  min-width: 350px;
  max-height: 400px;
  margin-left: 5px;
  margin-right: 5px;
}

.Card-img {
  text-align: center;
}

.Card-img img {
  height: 90px;
}

.Card-name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 21px;
}

.Card-types {
  display: flex;
  justify-content: center;    
}

.Card-type {
  padding: 10px 15px;
  margin: 30px 40px 10px 40px;
  border-radius: 5px;
  background: var(--yellow);
  color: var(--main-dark);
  font-weight: bold;
}

.Card-info {
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.Card-data {
  padding-bottom: 18px;
}

.Card-data .title {
  font-weight: 800;
  color: var(--yellow);
  margin-bottom: 10px;
}